{% extends "base.html" %}
{% block content %}
{% if 'id' in session %}
{% raw %}
<div id="list_tool">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>authors</th>
        </tr>
    </thead>
    <tbody>
        <template v-for="group in groups">
            <tr>
                <td >{{group['name']}}</td>
                <td >{{group['description']}}</td>
                <td >
                    ---
                </td>
            </tr>
        </template>
    </tbody>
</table>
<button v-on:click="get_authors" class="btn-primary" data-toggle="modal" data-target="#group_create_tool">Create New Group</button>
</div>

<div class="modal fade" id="group_create_tool" tabindex="-1" role="dialog" aria-labelledby="group_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
        <h4 class="modal-title" id="group_label">
            Create a new group
        </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Name :</p>
                <input v-model="name" class="form-control" type="text" /><br/>
                <p class="text-success">Description :</p>
                <input v-model="description" class="form-control" type="text" /><br/>
                <p class="text-success">Authors :</p>
                <select v-model="selected" class="form-control" multiple >
                    <template v-for="author in authors">
                    <option v-if="author.id != id"  v-bind:value="author.id" class="text-muted">{{author.name}}</option>
                    </template>
                </select><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="create" type="button" class="btn btn-primary">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    var list_tool = new Vue({
        el: "#list_tool",
        data: {
            groups: []
        },
        methods: {
            get_authors: function(){
                axios.get('/api/authors/')
                    .then(function(response){
                        group_create_tool.authors = response.data
                    }).catch(function(error){
                        console.log(error)
                    })
            }
        }
    })

    axios.get('/api/groups/?author_id=' + id)
        .then(function(response){
            list_tool.groups = response.data
        }).catch(function (error){
            console.log(error)
        })

    var group_create_tool = new Vue({
        el: "#group_create_tool",
        data: {
            id: id,
            name: "",
            description: "",
            authors: [],
            selected: []
        },
        methods: {
            create: function(){
                this.selected.push(id)
                axios.post("/api/groups/", {
                    'name': this.name,
                    'description': this.description,
                    'selected': this.selected,
                }).then(function(response){
                    alert("Group successfully added !")
                }).catch(function(error){
                    alert("Unknown server error !")
                })
            }
        }
    })
</script>

{% endraw %}
{% else %}
<h3>Please login first !</h3>

{% endif %}
{% endblock %}
