{% extends "base.html" %}
{% block content %}
<div id="search_tool">
    <h1>
        <input v-on:keyup="increase_search" v-model="query" class="text-muted" type=text />
    </h1>

    <template v-for="author in result">
        <a v-bind:href="'/papers/?author_id=' + author['id']" class="list-group-item">
            {% raw %}
            {{author['name']}}
            {% endraw %}
        </a>
    </template>
</div>

<script>
    var search_tool = new Vue({
        el: '#search_tool',
        data: {
            query:"",
            result: []
        },
        methods: {
            increase_search: function(){
                axios.get('/api/authors/?query=' + this.query)
                    .then(function (response){
                        console.log(response.data)
                        search_tool.result = response.data
                    }).catch(function (error){
                        console.log(error);
                    });
            },

            search: function(){
                axios.get('/api/authors/?query=' + this.query)
                    .then(function (response){
                        console.log(response.data)

                    }).catch(function (error){
                        console.log(error);
                    });
            }
        }
    });
</script>
{% endblock %}
