{% extends "base.html" %}
{% block content %}
{% raw %}

<div id="search_tool">
    <label class="checkbox-inline">Search By :</label>
    <label class="checkbox-inline">
        <input v-model="search_by" type="radio" value="authors" checked> Authors
    </label>
    <label class="checkbox-inline">
        <input v-model="search_by" type="radio" value="groups" > Groups
    </label>

    <h1>
        <input v-on:keyup="increase_search" v-model="keyword" class="text-muted" type=text />
    </h1>

    <template v-for="each in result">
        <a v-bind:href="'/papers/?' + search_by.substr(0, search_by.length-1) + '_id=' + each['id']" class="list-group-item">
            {{each['name']}}
        </a>
    </template>
</div>

<script>
    var search_tool = new Vue({
        el: '#search_tool',
        data: {
            search_by: "authors",
            keyword: "",
            result: []
        },
        methods: {
            increase_search: function(){
                axios.get('/api/' + this.search_by + '/?keyword=' + this.keyword)
                    .then(function (response){
                        console.log(response.data)
                        search_tool.result = response.data
                    }).catch(function (error){
                        console.log(error);
                    });
            }
        }
    });
</script>

{% endraw %}
{% endblock %}
