{% extends "base.html" %}
{% block content %}
{% if 'id' in session %}
{% raw %}
<div id="search_tool">
    <div class="col-xs-5 col-md-offset-4">
        <h3> {{name}}'s Groups Page </h3>
        <h1> <input v-on:keyup="increase_search" v-model="keyword" class="text-muted" type=text /> </h1>
    </div>
    <div class="col-xs-8 col-md-offset-2">
        <table class="table table-condensed">
            <caption> You participate {{groups.length}} groups in total.</caption>
            <thead>
                <tr>
                    <th>name</th>
                    <th>paper list</th>
                    <th>authors</th>
                    <th>filter</th>
                    <th>manage</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(group,index) in groups">
                    <tr>
                        <td >{{group['name']}}</td>
                        <td><a v-bind:href="'/groups/' + group['id']">paper list</a></td>
                        <td >
                            <div class="btn-group">
                                <button v-on:click="get_authors_by_group" v-bind:index="index" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                        <ul class="dropdown-menu" role="menu">
                            <li v-for="author in authors" class="text-muted text-center">
                                <a v-bind:href="'/authors/' + author['id']">
                                {{author.name}}
                                </a>
                            </li>
                        </ul>
                            </div>
                        </td>
                        <td >
                            <button v-on:click="before_change" v-bind:index="index" class="btn-info" data-toggle="modal" data-target="#filter_change_tool">change</button>
                        </td>
                        <td >
                            <template v-if="group['is_manager']">
                            <button v-on:click="before_edit" v-bind:index="index" class="btn-warning" data-toggle="modal" data-target="#group_edit_tool">edit</button>
                            </template>
                            <template v-else>
                            <button class="btn disabled" disabled="disabled">edit</button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <button v-on:click="get_all_authors" class="btn-primary" data-toggle="modal" data-target="#group_create_tool">Create New Group</button>
    </div>
</div>

<div class="modal fade" id="group_create_tool" tabindex="-1" role="dialog" aria-labelledby="group_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
        <h4 class="modal-title" id="group_label">
            Create a new group
        </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Name :</p>
                <input v-model="name" class="form-control" type="text" /><br/>
                <p class="text-success">Description :</p>
                <input v-model="description" class="form-control" type="text" /><br/>
                <p class="text-success">Group Link :</p>
                <input v-model="group_link" class="form-control" type="text" /><br/>
                <p class="text-success">Authors :</p>
                <select v-model="selected" class="form-control" multiple >
                    <template v-for="author in authors">
                        <option v-if="author.id != id"  v-bind:value="author.id" class="text-muted">{{author.name}}</option>
                    </template>
                </select><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="create" type="button" class="btn btn-primary">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="group_edit_tool" tabindex="-1" role="dialog" aria-labelledby="edit_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
        <h4 class="modal-title" id="edit_label">
            Edit group
        </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Name :</p>
                <input v-model="name" class="form-control" type="text" /><br/>
                <p class="text-success">Description :</p>
                <textarea v-model="description" rows="4" class="form-control" ></textarea><br/>
                <p class="text-success">Group Link :</p>
                <input v-model="group_link" class="form-control" type="text" /><br/>
                <p class="text-success">Previous Authors :</p>
                <select v-model="previous" class="form-control" multiple >
                    <template v-for="author in previous_authors">
                        <option v-if="author.id != id"  v-bind:value="author.id" class="text-muted">{{author.name}}</option>
                    </template>
                </select><br/>
                <p class="text-success">New Authors :</p>
                <select v-model="selected" class="form-control" multiple >
                    <template v-for="author in new_authors">
                        <option v-bind:value="author.id" class="text-muted">{{author.name}}</option>
                    </template>
                </select><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="delete_group" type="button" class="btn btn-danger">
                    Delete
                </button>
                <button v-on:click="update" type="button" class="btn btn-primary">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="filter_change_tool" tabindex="-1" role="dialog" aria-labelledby="edit_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
        <h4 class="modal-title" >
            Change filter
        </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">After :</p>
                <input v-model="after_date" type="date" />
                <p class="text-success">Before :</p>
                <input v-model="before_date" type="date"  />
            </div>
            <div class="modal-footer">
                <button v-on:click="change" type="button" class="btn btn-primary">
                    Change
                </button>
            </div>
        </div>
    </div>
</div>
{% endraw %}

<script>
    var search_tool = new Vue({
        el: "#search_tool",
        data: {
            id: id,
            name: name,
            keyword: "",
            all_groups: [],
            groups: [],
            authors: []
        },
        methods: {
            init: function(){
                axios.get('/api/groups/?author_id=' + id)
                    .then(function(response){
                        search_tool.all_groups = response.data;
                        search_tool.groups = search_tool.all_groups;
                    }).catch(function (error){
                        console.log(error)
                    });
            },
            increase_search: function(){
                if( search_tool.keyword.trim() == ""){
                    search_tool.groups = search_tool.all_groups;
                    return;
                }
                groups = [];
                for (var each of search_tool.all_groups){
                    if(each['name'].toLowerCase().search(search_tool.keyword) != -1
                        || each['name'].search(search_tool.keyword) != -1){
                        groups.push(each);
                    }
                }
                search_tool.groups = groups;
            },
            get_authors_by_group: function(event){
                var index = event.target.getAttribute("index");
                axios.get('/api/authors/?group_id=' + this.groups[index]['id'])
                    .then(function(response){
                        search_tool.authors = response.data
                    }).catch(function(error){
                        console.log(error)
                    })
            },
            get_all_authors: function(){
                axios.get('/api/authors/')
                    .then(function(response){
                        group_create_tool.authors = response.data
                    }).catch(function(error){
                        console.log(error)
                    })
            },
            before_edit: function(event){
                var index = event.target.getAttribute("index");
                group_edit_tool.group_id = search_tool.groups[index]['id'];
                group_edit_tool.name = search_tool.groups[index]['name'];
                group_edit_tool.description = search_tool.groups[index]['description'];
                group_edit_tool.group_link = search_tool.groups[index]['group_link'];
                group_edit_tool.prepare_authors();
            },
            before_change: function(even){
                var index = event.target.getAttribute("index");
                filter_change_tool.group_id = search_tool.groups[index]['id'];
                filter_change_tool.before_date = search_tool.groups[index]['before_date']
                filter_change_tool.after_date = search_tool.groups[index]['after_date']
            }
        }
    });

    var group_create_tool = new Vue({
        el: "#group_create_tool",
        data: {
            id: id,
            name: "",
            description: "",
            group_link: "",
            authors: [],
            selected: []
        },
        methods: {
            create: function(){
                this.selected.push(id)
                axios.post("/api/groups/", {
                    'name': this.name,
                    'description': this.description,
                    'group_link': this.group_link,
                    'selected': this.selected,
                }).then(function(response){
                    alert("Group successfully added !")
                    location.reload()
                }).catch(function(error){
                    alert("Unknown server error !")
                })
            }
        }
    })

    var group_edit_tool = new Vue({
        el: "#group_edit_tool",
        data: {
            id: id,
            group_id: "",
            name: "",
            description: "",
            group_link: "",
            previous_authors: [],
            new_authors: [],
            previous: [],
            selected: []
        },
        methods: {
            prepare_authors: function(){
                axios.get('/api/authors/?group_id=' + this.group_id)
                    .then(function(response){
                        group_edit_tool.previous_authors = response.data
                    }).catch(function(error){
                        console.log(error)
                    });
                axios.get('/api/authors/')
                    .then(function(response){
                        group_edit_tool.new_authors = response.data.filter(function(author){
                            for(var each of group_edit_tool.previous_authors){
                                if(each.id == author.id){
                                    return false;
                                }
                            }
                            return true;
                        });
                    }).catch(function(error){
                        console.log(error)
                    });
            },
            delete_group: function(){
                axios.delete('/api/groups/' + this.group_id)
                .then(function(response){
                    alert("Group successfully deleted !")
                    location.reload()
                }).catch(function(error){
                    console.log(error)
                });
            },
            update: function(){
                var selected = this.previous.concat(this.selected)
                selected.push(this.id)
                axios.put('/api/groups/' + this.group_id,{
                    type: "group",
                    name: this.name,
                    description: this.description,
                    group_link: this.group_link,
                    selected: selected
                }).then(function(response){
                    alert("Group successfully updated !")
                    location.reload()
                }).catch(function(error){
                    console.log(error)
                });
            }
        }
    })
    
    var filter_change_tool = new Vue({
        el: "#filter_change_tool",
        data: {
            group_id: "",
            before_date: "",
            after_date: "",
        },
        methods: {
            change: function(){
                axios.put('/api/groups/' + this.group_id,{
                    type: "filter",
                    before_date: this.before_date,
                    after_date: this.after_date
                }).then(function(response){
                    alert("Filter successfully updated !")
                    location.reload()
                }).catch(function(error){
                    console.log(error)
                });
            }
        }
    })

    search_tool.init();
</script>
{% else %}
<h3>Please login first !</h3>

{% endif %}
{% endblock %}
