<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nottingham University Research Scraper">
    <meta name="author" content="Fred">
    <title> Research Scraper </title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <!--<script src="../static/js/vue.js"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="../static/js/axios.min.js"></script>-->
    {% if 'id' in session %}
    <script>
        var id = {{session['id']}};
        var name = "{{session['name']}}";
    </script>
    {% else %}
    <script> var id = -1; </script>
    {% endif %}
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Research Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a onclick="toggle_help()"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>

            {% if 'name' not in session %}
            <li > <a data-toggle="modal" data-target="#login_tool"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
            <li > <a data-toggle="modal" data-target="#register_tool"><span class="glyphicon glyphicon-registration-mark "></span> Register</a> </li>

            {% else %}
            <li class="dropdown" id="logout_tool">
                <a class="dropdown-toggle" data-toggle="dropdown" v-text="name">
                    <span class="glyphicon glyphicon-user"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" >
                    <li>
                        <a v-bind:href="'/authors/' + id">View All Your Papers</a>
                    </li>
                    <li>
                        <a href="/edit_groups/">Change Group Settings</a>
                    </li>
                    <li >
                         <a data-toggle="modal" data-target="#gs_update_tool">
                             Update Goole Scholar Link
                        </a>
                     </li>
                    <li class="divider"></li>
                    <li role="presentation">
                        <a v-on:click="logout" role="menuitem" tabindex="-1" >Logout</a>
                    </li>
                </ul>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab" id="help_tab"><span class="glyphicon glyphicon-book"></span> Introduction </a></li>
        <li><a href="#2" data-toggle="tab" id="search_tab"><span class="glyphicon glyphicon-search"></span> Search Papers</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="1">

            <div class="container marketing">

                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="../static/images/author.jpg" alt="Generic placeholder image" width="300" height="140">
                        <h2>Author</h2>
                        <p>Author is in fact a collection of papers written by him/her. Once you register as an author,
                            we will crawl all the papers written for you automatically. Then you can easily manage your
                            papers, all you need to provide is your google scholar index page address. And you can create
                            your own group and invite others authors or even someone do not currently register to here or
                            just easily join a group which is already existed.
                        </p>
                        <p>
                            <a class="btn btn-default" href="https://scholar.google.co.uk/citations?user=tAQTJRIAAAAJ&hl=en" role="button">
                            View Author Example &raquo;
                            </a>
                        </p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="../static/images/group.jpg" alt="Generic placeholder image" width="300" height="140">
                        <h2>Group</h2>
                        <p>Group is a set of authors, basically every school have a lot of research groups, but  the pain point is :
                            as a group, it not easy to manage those papers related to your group topic, because you never know the paper
                            (wroten by an author inside this group) has the topic related to this group, or just wrote for fun.
                            It's really hard to gather all the papers together and make sure they are all related to current group.
                        </p>
                        <p><a class="btn btn-default" href="http://ima.ac.uk/" role="button">View Group Example &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="../static/images/paper.jpg" width="300" height="140">
                        <h2>Paper</h2>
                        <p>Paper is the most basic unit, every paper maps a real paper written by one or more authos. The papers
                            in this site is all source from google scholar. It downloads those papers according to the url provided
                            by user in their registration process. We have defined some useful filters (like time filter) to help
                            user better manage the papers in different groups so that the correct subset of the papers can be shown
                            in a specific group.
                        </p>
                        <p><a class="btn btn-default" href="https://scholar.google.co.uk/citations?view_op=view_citation&hl=en&user=tAQTJRIAAAAJ&citation_for_view=tAQTJRIAAAAJ:u5HHmVD_uO8C" role="button">View Paper Example &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->


                <!-- START THE FEATURETTES -->
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">What you can do before login ? </h2>
                        <ul class="lead">
                            <li>
                                List all the authors already registered or quick search any author using keyword.
                            </li>
                            <li>
                                Once you found the author, you can again list all his/her papers or visit the related scholar page.
                            </li>
                            <li>
                                On the other hand, you can also set a start point as a group, and view all the papers
                                in this group or search a specific one.
                            </li>
                        </ul>
                        <h3 >Can't Wait, <button class="btn-success" onclick="toggle_tab()">try it now !</button> </h3>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="../static/images/grp.gif">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
                        <h2 class="featurette-heading">Registration Tips </h2>
                        <p class="lead">
                            Once register as a user, you will get all the papers saved in our database, so you can view/edit your paper here.
                            But since the way we get those papers and manage them is according to the relation between papers and authors. So
                            we need you to register and provide your google scholar index page.
                        </p>
                        <ul class="lead">
                            <li>
                                Register as an author, the most important bit is to type in the correct google scholar address since it will be used as the start point of the paper crawler.
                                There are several point to make sure :
                                <ol>
                                    <li>
                                        https://scholar.google.com/citations?user=tAQTJRIAAAAJ&hl=en : this is a correct format.
                                    </li>
                                    <!--
                                    <li>
                                        https://scholar.google.com/citations?user=tAQTJRIAAAAJ&hl=en&cstart=20&pagesize=20 : This one contains start page and pagesize, it will confuse the crawler.
                                    </li>
                                    <li>
                                        https://scholar.google.com/citations?user=tAQTJRIAAAAJ&hl=CN : the language specify in the url must be English. Here hl=CN is used, it will make the page loaded by crawler show as Chinese.
                                    </li>
                                    -->
                                </ol>
                            </li>
                            <li>
                                If you received email which invite you to register, the invitation code is basically the evidence we judge your
                                with the one which has already added into that group. So be sure you input the invitation code correctly.
                            </li>
                        </ul>
                        <h3 >Start your <button class="btn-success" onclick="toggle_register()">Registration Now !</button></h3>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img class="featurette-image img-responsive center-block" src="../static/images/grp.gif" alt="TODO : registration gif">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Group Management</h2>
                        <p class="lead">TODO : group...</p>
                        <h3 >Enter the <button class="btn-success" onclick="jump_group_management()">Group Mangement Page !</button></h3>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="../static/images/grp.gif" alt="TODO :group manage gif">
                    </div>
                </div>

                <hr class="featurette-divider">
            </div>
        </div>

        <div class="tab-pane" id="2">
            <p>
                {% block content %}{% endblock %}
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="gs_update_tool" tabindex="-1" role="dialog" aria-labelledby="gs_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="gs_label">
                    Update Google Scholar Link
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">Warning : Once update all the papers downloaded according to the previous url will be deleted !</p>
                <p class="text-success">Google Scholar Address :</p>
                <input v-model="gs_link" class="form-control" type="url" /><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="gs_update" type="button" class="btn btn-danger">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

{% if 'name' not in session %}
<div class="modal fade" id="login_tool" tabindex="-1" role="dialog" aria-labelledby="login_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="login_label">
                    Login
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Account :</p>
                <input v-model="account" class="form-control" type="text" /><br/>
                <p class="text-success">Password :</p>
                <input v-model="password" class="form-control" type="password" /><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="login" type="button" class="btn btn-primary">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="register_tool" tabindex="-1" role="dialog" aria-labelledby="register_label" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="register_label">
                    Register
                </h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Name :</p>
                <input v-model="name" class="form-control" type="text" /><br/>
                <p class="text-success">Account :</p>
                <input v-model="account" class="form-control" type="text" /><br/>
                <p class="text-success">Password :</p>
                <input v-model="password" class="form-control" type="password" /><br/>
                <p class="text-success">Google Scholar Address :</p>
                <input v-model="gs_link" class="form-control" type="url" /><br/>
                <p class="text-success">Invitation Code (optional):</p>
                <input v-model="invitation_code" class="form-control" type="text" /><br/>
            </div>
            <div class="modal-footer">
                <button v-on:click="register" type="button" class="btn btn-primary">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    function toggle_help() {
        $('#help_tab').tab('show');
    }
    function toggle_search() {
        $('#search_tab').tab('show');
    }

    function toggle_register() {
        if(id == -1){
            $('#register_tool').modal('show')
        }
        else{
            alert("You have already login, please logout first !")
        }
    }

    function jump_group_management() {
        if(id == -1){
            alert("Please login first !");
            $('#login_tool').modal('show')
        }
        else{
            window.location.href = "/edit_groups/"
        }
    }

    {% if not 'name' in session %}
    var login_tool = new Vue({
        el: '#login_tool',
        data: {
            account: "",
            password: ""
        },
        methods: {
            login: function(){
                axios.post('/api/sessions/',
                    {
                        "account": this.account,
                        "password": this.password
                    }
                ).then(function(response){
                    location.reload()
                }).catch(function(error){
                    console.log(error);
                    alert("Unmatched account and password !")
                })
            }
        }
    });


    var register_tool = new Vue({
        el: '#register_tool',
        data: {
            name: "",
            is_registered: "1",
            account: "",
            password: "",
            gs_link: "",
            invitation_code: ""
        },
        methods: {
            register: function(){
                axios.post('/api/authors/',
                    {
                        'name': this.name,
                        'is_registered': this.is_registered,
                        'account': this.account,
                        'password': this.password,
                        'gs_link': this.gs_link,
                        'invitation_code': this.invitation_code
                    }
                ).then(function (response){
                    location.reload()
                }).catch(function(error){
                    alert("Unknown server error !")
                })
            }
        }
    });

    {% else %}

    var gs_update_tool = new Vue({
        el: '#gs_update_tool',
        data: {
            gs_link: "",
        },
        methods: {
            gs_update: function(){
                axios.put('/api/authors/',
                    {
                        'type': "gs_link",
                        'gs_link': this.gs_link,
                    }
                ).then(function (response){
                    location.reload()
                }).catch(function(error){
                    alert("Unknown server error !")
                })
            }
        }
    });

    var logout_tool = new Vue({
        el: "#logout_tool",
        data: {
            id: id,
            name: name
        },
        methods: {
            logout: function(){
                axios.delete('/api/sessions/')
                    .then(function(response){
                        location.reload()
                    }).catch(function(error){
                    alert("Unknown server error !")
                })
            }
        }
    });
    {% endif %}

    window.onload = toggle_search;
</script>


<div class="mastfoot col-xs-2 col-md-offset-5 navbar-fixed-bottom">
    <p>Papers manage tool for <a href="http://www.nottingham.ac.uk">Nottingham</a>, by <a href="https://github.com/nzhl">@Fred</a>.</p>
</div>

</div>
</div>
</div>

<script src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
