{% extends "base.html" %}
{% block content %}
{% raw %}

<div id="search_tool">
    <div class="col-xs-5 col-md-offset-4">
        <h3> <a v-bind:href="group['group_link']">{{group['name']}}</a> 's Page </h3>
        <h1> <input v-on:keyup="increase_search" v-model="keyword" class="text-muted" type=text /> </h1>
        <b>show hidden
        <input v-on:click="toggle_hide" v-model="show_hidden" type="checkbox" value="true"></button></b>
    </div>
    <div class="col-xs-8 col-md-offset-2">
        <table class="table table-condensed">
            <caption> {{papers.length}} papers in total.</caption>
            <thead>
                <tr>
                    <th>title</th>
                    <th>authors</th>
                    <th>public date</th>
                    <th>conference/journal</th>
                    <th>total citations</th>
                    <th>scholar link</th>
                    <th>pdf</th>
                    <th>hide</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(paper, index) in papers">
                    <tr v-if="!paper['is_hidden']">
                        <td >{{paper['title']}}</td>
                        <td >{{paper['authors']}}</td>
                        <td >{{paper['publication_date']}}</td>
                        <td v-if="paper['conference']">{{paper['conference']}}</td>
                        <td v-else-if="paper['journal']">{{paper['journal']}}</td>
                        <td v-else> - </td>
                        <td >{{paper['total_citations']}}</td>
                        <td >
                            <template v-if="paper['gs_link']">
                                <a v-bind:href="paper['gs_link']">visit</a>
                            </template>
                            <template v-else>
                                -
                            </template>
                        </td>
                        <td >
                            <template v-if="paper['pdf_link']">
                                <a v-bind:href="paper['pdf_link']">download</a>
                            </template>
                            <template v-else>
                                -
                            </template>
                        </td>
                        <td >
                            <template v-if="!paper['is_owned']">
                                <button class="btn disabled" disabled=disabled>hide</button>
                            </template>
                            <template v-else-if="!show_hidden">
                                <button v-on:click="hide" v-bind:index="index" >hide</button>
                            </template>
                            <template v-else>
                                <button v-on:click="show" v-bind:index="index" >show</button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

{% endraw %}

<script>
    var search_tool = new Vue({
        el: "#search_tool",
        data: {
            id: id,
            keyword: "",
            group: "",
            all_papers: [],
            papers: [],
            show_hidden: false,
        },
        methods: {
            init: function(){
                axios.get('/api/groups/{{group_id}}')
                    .then(function(response){
                        search_tool.group = response.data
                    }).catch(function (error){
                        console.log(error)
                    });
                axios.get('/api/papers/?group_id={{group_id}}')
                    .then(function(response){
                        search_tool.all_papers = response.data;
                        search_tool.papers = search_tool.all_papers;
                    }).catch(function (error){
                        console.log(error)
                    });
            },
            increase_search: function(){
                if( search_tool.keyword.trim() == ""){
                    search_tool.papers = search_tool.all_papers;
                    return;
                }
                papers = [];
                for (var each of search_tool.all_papers){
                    if(each['title'].toLowerCase().search(search_tool.keyword) != -1
                        || each['authors'].toLowerCase().search(search_tool.keyword) != -1
                        || each['title'].search(search_tool.keyword) != -1
                        || each['authors'].search(search_tool.keyword) != -1){
                        papers.push(each);
                    }
                }
                search_tool.papers = papers;
            },
            hide: function(event){
                var index = event.target.getAttribute("index")
                axios.put('/api/groups/{{group_id}}', {
                    type: "hide",
                    paper_id: this.papers[index]['id']
                }).then(function(response){
                    location.reload()
                }).catch(function(error){
                    console.log(error)
                })
            },
            show: function(event){
                var index = event.target.getAttribute("index")
                axios.put('/api/groups/{{group_id}}', {
                    type: "show",
                    paper_id: this.papers[index]['id']
                }).then(function(response){
                    location.reload()
                }).catch(function(error){
                    console.log(error)
                })
            },
            toggle_hide: function(){
                if (this.show_hidden){
                    axios.get('/api/papers/?group_id={{group_id}}&show_hidden=true')
                        .then(function(response){
                            search_tool.all_papers = response.data;
                            search_tool.papers = search_tool.all_papers;
                        }).catch(function (error){
                            console.log(error)
                        });
                }
                else{
                    axios.get('/api/papers/?group_id={{group_id}}')
                        .then(function(response){
                            search_tool.all_papers = response.data;
                            search_tool.papers = search_tool.all_papers;
                        }).catch(function (error){
                            console.log(error)
                        });
                }
            }
        }
    });
    search_tool.init();
</script>

{% endblock %}
